:root {
    --color-bg: #f3f2e7;
    --color-text: #000;
    --color-primary: #ef4d37;
    --color-secondary: #b5a26d;
    --max-width: 1400px;
}  

body {
    background: var(--color-bg);
    color: var(--color-text);

    font-family: 'Barlow', sans-serif;
    font-size: 120%;

    padding-top: 80px;
    overflow-x: hidden;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

article.thin, div.thin {
    max-width: 800px;
    margin: auto;
}

a {
    color: var(--color-primary);
}

img {
    max-width: 100%;
}

dl {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
dt {
    width: 40%;
    font-weight: bold;
}

dd {
    margin: 0;
    width: 50%;
    font-weight: normal;
}