:root {
    --color-bg: #f3f2e7;
    --color-text: #000;
    --color-primary: #ef4d37;
    --color-secondary: #b5a26d;
    --color-secondary-transparent: #b5a26d60;
    --max-width: 1400px;
}  

body {
    background: var(--color-bg);
    color: var(--color-text);

    font-family: 'Barlow', sans-serif;
    font-size: 120%;

    padding-top: 80px;
    overflow-x: hidden;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

article.thin, div.thin {
    max-width: 800px;
    margin: auto;
}

a {
    color: var(--color-primary);
}

a.plain {
    color: var(--color-text);
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: 1px;
}

details summary {
    cursor: pointer;
}

details summary::-webkit-details-marker,
details summary::marker {
    color: var(--color-primary);
}

a.plain:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

img {
    max-width: 100%;
}

dl {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
dt {
    width: 40%;
    font-weight: bold;
}

dd {
    margin: 0;
    width: 50%;
    font-weight: normal;
}

hr {
    border-color: var(--color-secondary);
    border-style: solid;
}

code, .codeblock {
    background-color: var(--color-secondary-transparent);
    padding: 3px;
}

.codeblock {
   margin: 0.5em 1em;
   padding: 1em;
   overflow-x: scroll;
   max-height: 80vh;
   overflow-y: scroll;
}

button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

button:not(.link), input {
    border: 2px solid var(--color-primary);
    background: transparent;
    padding: 8px 16px;
    font-size: 22px;
    margin: 8px;
    cursor: pointer;
}

button:not(.link).active, input.active {
    background: var(--color-primary);
    color: white;
}

@media only screen and (max-width: 600px) {
    dt, dd {
        width: 100%;
    }

    dd {
        margin-left: 1.75em;
    }
}